name: CI

on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Install ImageMagick 7 (way too complicated to replace default version)
        run: |
          sudo apt remove imagemagick imagemagick-6-common
          sudo cp /etc/apt/sources.list /etc/apt/sources.list~
          sudo sed -Ei 's/^# deb-src /deb-src /' /etc/apt/sources.list
          sudo apt-get update
          sudo apt build-dep imagemagick
          sudo apt-get install checkinstall libwebp-dev libopenjp2-7-dev librsvg2-dev libde265-dev
          cd ~
          curl https://download.imagemagick.org/ImageMagick/download/ImageMagick.tar.gz | tar xz
          cd ImageMagick-7*
          sudo ./configure --with-magick-plus-plus=no --with-perl=no
          sudo make
          sudo make install
          sudo ldconfig /usr/local/lib
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
